<header class="w-full bg-sky-50">
  <nav class="flex justify-between items-center max-w-screen-xl mx-auto px-4 py-4">
    <div class="text-2xl font-bold text-sky-700">
      <a
        href="/"
        class="text-sky-700">
        EmmEi
      </a>
    </div>
    <div class="space-x-6">
      <a
        href="/"
        class="text-sky-700 hover:text-emerald-600 transition">
        Home
      </a>
      <a
        href="/about"
        class="text-sky-700 hover:text-emerald-600 transition">
        About
      </a>
      <a
        href="/products"
        class="text-sky-700 hover:text-emerald-600 transition">
        Products
      </a>

      <a
        href="/services"
        class="text-sky-700 hover:text-emerald-600 transition">
        Services
      </a>
    </div>
  </nav>
</header>
