<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../partials/head.ejs')%>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./../partials/nav.ejs') %>

    <h1>About Crash Course</h1>
    <p>Ask yourself! Can I do it!</p>

    <p>Reality is that: It is more about you, than about us</p>
  </body>
</html>
