<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Express Crash Course</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/services">Services</a>
    </nav>

    <h1>Learn Express from bottom-up</h1>
    <p>Master the art of website development with MERN Stack</p>
  </body>
</html>
