<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../partials/head.ejs')%>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./../partials/nav.ejs') %>

    <h1>Learn Express from bottom-up</h1>
    <p>Master the art of website development with MERN Stack</p>
  </body>
</html>
