<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../partials/head.ejs')%>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./../partials/nav.ejs') %>
    <section class="w-full bg-whitesmoke-50 max-w-screen-xl mx-auto px-4 py-8">
      <h1 class="text-3xl mb-6">Learn Express from bottom-up</h1>
      <p>
        Master the art of website development with MERN Stack. Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Impedit cumque sequi reprehenderit id at aperiam in culpa aut
        tempore quae.
      </p>
    </section>
  </body>
</html>
