<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../partials/head.ejs')%>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./../partials/nav.ejs') %>

    <section class="w-full bg-whitesmoke-50 max-w-screen-xl mx-auto px-4 py-8">
      <h1 class="text-3xl mb-6">Our Products</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut excepturi doloremque reiciendis
        accusantium pariatur cumque deleniti assumenda, ex id distinctio suscipit error mollitia
        unde aspernatur perspiciatis nulla! Cum maxime neque facere, repellendus odio illum vitae
        fugit eveniet quasi sapiente animi cumque quia, soluta voluptas quae. Eaque accusantium quos
        sed accusamus.
      </p>

      <p>We've got a variety of products for your taste and choice</p>
    </section>
  </body>
</html>
