<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../partials/head.ejs')%>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./../partials/nav.ejs') %>

    <section class="w-full bg-whitesmoke-50 max-w-screen-xl mx-auto px-4 py-8">
      <h1 class="text-3xl mb-6">Our Products</h1>

      <!-- React root will go here -->
      <div id="app"></div>

      <%- include('./../partials/react-cdn.ejs') %>
    </section>
  </body>
</html>
