<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../partials/head.ejs')%>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./../partials/nav.ejs') %>
    <section class="w-full bg-whitesmoke-50 max-w-screen-xl mx-auto px-4 py-8">
      <h1 class="text-3xl mb-6">Services that We offer</h1>

      <p>Learn and master web development</p>
      <p>Prepare for DSA by yourself</p>
      <p>This is a must!</p>
    </section>
  </body>
</html>
